server:
  port: 8081
management:
  endpoints:
    web:
      exposure:
        include: '*'
  info:
    env:
      enabled: true
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DATABASE_URL}
    username: ${POSTGRES_DB_USERNAME}
    password: ${POSTGRES_DB_PASSWORD}
    hikari:
      idle-timeout: 10000
      maximum-pool-size: 10
      max-lifetime: 1000
      connection-timeout: 20000
      auto-commit: true
      minimum-idle: 10

  jpa:
    generate-ddl: true
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        ddl-auto: update
  sql:
    init:
      mode: always
